.bgr {
    background-color: whitesmoke;
}
.container {
    background-color: white;
}
.img {
    background-image: url(../img/765d1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a {
    text-decoration: none;
    color: grey;
    font-weight: 600;
}
.handbags {
    background-image: url(../img/601.jpg);
    background-repeat: no-repeat;
    background-position: center
}
.watch {
    background-image: url(../img/8908.jpg);
    background-repeat: no-repeat;
    background-position: center
}
.shoes{
    background-image: url(../img/2bd.jpg);
    background-repeat: no-repeat;
    background-position: center
}
.butomn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 30px 0px;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    
}
.top {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 5fr 2fr;                     
}
.header {
    grid-area: 1 / 1 / 2 / 4;
}
.img {
    grid-row: 2 / 3;
    grid-column: 1/ 4;
    margin-bottom: 20px;
}
.handbags {
    grid-row: 3 / 4;
    grid-column:1/2
}
.watch {
    grid-row: 3 / 4;
    grid-column: 2/3
}
.shoes {
    grid-row: 3 / 4;
    grid-column:3/4
}
.footer {
    grid-area: 2 /1 / 2 /5;
    width: 100%;
}
.header>a {
    padding: 10px;
}
a:hover {
    color: black;
}
.header>a:hover {
    color: white;
}
.card-title:hover {
    text-decoration: underline;
}
.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0px;
}
.hidden {
    opacity: 0.2;
}
header span {
    border-left: 1px solid rgb(194, 191, 191);
    height: 100%;
    width: 1px;
    margin: 10px;
    padding: 15px 0px;
}
.top h4 {
    text-shadow: 0px 0px 2px gray;
}
.top p {
    text-shadow: 0px 0px 2px white;
}
.card {
    border: none;
    margin-top: 2rem;
}
footer h5 {
    margin-bottom: 35px;
}
.top h4:hover {
    text-decoration: underline;
}